audio-processing==0.0.1
audioread==2.1.9
cachetools==4.2.2
catalogue==2.0.6
h5py==3.1.0
matplotlib==3.5.2
matplotlib-inline==0.1.2
numba==0.55.2
numexpr==2.7.3
numpy==1.22.4
pandas==1.2.4
py==1.11.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.10.1
pydantic==1.8.2
pydeck==0.7.1
pydub==0.25.1
Pygments==2.9.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.3
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywinpty==1.1.1
PyYAML==6.0
pyzmq==22.0.3
scikit-learn==1.1.1
scipy==1.5.4
seaborn==0.11.1
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sounddevice==0.4.4
SoundFile==0.10.3.post1
statsmodels==0.12.2
streamlit==1.11.0